.pill {
  position: absolute;
  top: 30px;
  z-index: 99999;
  left : 200px;
  display: flex;
  gap: 0.5em;
  justify-content: space-between;
}
.avatar {
  position: absolute;
  right: 10px;
  top: 0;
}
